<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="style.css">-->
		
		<script src="https://kit.fontawesome.com/dfabd7fe66.js" crossorigin="anonymous"></script>

		<title>Ride-share</title>
	</head>
	<body>

		<br>
		<h1 id="display-title" class="display-3 text-center">Ride-share</h1>
		<div id="app">

			<div id="main-container" class="container">
				<div class="row justify-content-center">

					<div class="login-message-wrapper" v-if="login">
						<span><b>Hello</b> {{ user_first }} {{ user_last }}</span>
						<button id="edit-name-btn" class="btn btn-primary" data-toggle="modal" data-target="#edit-name-dialog">
							<i class="fas fa-user-edit"></i>
						</button>
					</div>

					<div class="modal fade" id="edit-name-dialog" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="modal-title">Edit Account</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<form action="#" v-on:submit="edit_name">
									<div class="modal-body">
										
											<div class="form-group">
												<label for="edit-firstname-input">First Name</label>
												<input id="edit-firstname-input" class="form-control" type="text" v-bind:value="user_first">
											</div>
											<div class="form-group">
												<label for="edit-lastname-input">Last Name</label>
												<input id="edit-lastname-input" class="form-control" type="text" v-bind:value="user_last">
											</div>
										
									</div>
									<div class="modal-footer d-flex align-items-end flex-column">
										<button class="btn btn-info" v-on:click="edit_name" data-dismiss="modal">Update</button>
										<a href="#" class="btn btn-danger" v-on:click="delete_user" data-dismiss="modal">Delete Account</a>
									</div>
								</form>
							</div>
						</div>
					</div>

					<div class="modal fade" id="edit-ride-dialog" tabindex="-1" role="dialog" aria-labelledby="modal-title-2" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="modal-title-2">Edit Ride</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<form action="#" v-on:submit="edit_ride">
									<div class="modal-body">
										<div class="form-group">
											<label for="edit-ride-time-input">Ride Time</label>
											<input id="edit-ride-time-input" class="form-control" type="text" v-bind:value="ride_editing.departure_time">
										</div>
									</div>
									<div class="modal-footer">
										<button type="submit" class="btn btn-primary" data-dismiss="modal">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>

					<div class="login-btn-wrapper" v-on:click="logout_user" v-if="login">
						<button class="btn btn-primary">
							<span>Logout</span>
						</button>
					</div>

					<div id="login-form" class="col-12 col-lg-6 jumbotron" v-if="!login">
						<h2 class="display-5">Login</h2>
						<hr>
						<form action="#" v-on:submit="login_user">
							<div class="form-group">
								<label for="login-input">Username</label>
								<input id="login-input" class="form-control" type="text">
								<div class="invalid-feedback">Invalid username</div>
							</div>
							<div class="form-group">
								<label for="pw-input">Password</label>
								<input id="pw-input" class="form-control" type="password">
								<div class="invalid-feedback">Incorrect Password</div>
							</div>
							<button class="btn btn-primary">Submit</button>
						</form>
						<button class="btn btn-info mt-1" v-on:click="show_register_form">Register</button>
					</div>

					<div id="main-menu" class="col-12 col-lg-6 d-flex flex-column jumbotron" v-if="login">
						<div class="btn-group btn-group-toggle mb-3 d-flex" data-toggle="buttons">
							<label class="btn btn-outline-primary flex-grow-1" v-on:click="show_rides_taken(user_id, user_first + ' ' + user_last)">
								<input type="radio" name="options" id="option1" autocomplete="off">My Rides Taken
							</label>
							<label class="btn btn-outline-primary flex-grow-1" v-on:click="show_rides_offered(user_id, user_first + ' ' + user_last)">
								<input type="radio" name="options" id="option2" autocomplete="off">My Rides Offered
							</label>
						</div>
						<a href="#" class="btn btn-outline-primary mb-3" v-on:click="show_ride_form">Offer Ride</a>
						<a href="#" class="btn btn-outline-primary" v-on:click="show_users_list">Users</a>
					</div>

					<div id="register-form" class="col-12 col-lg-6 d-none jumbotron">
						<h2 class="display-5">Register</h2>
						<hr>
						<form action="#" v-on:submit="register_user">
							<div class="form-group">
								<label for="firstname-input">First Name</label>
								<input id="firstname-input" class="form-control" type="text">
							</div>
							<div class="form-group">
								<label for="lastname-input">Last Name</label>
								<input id="lastname-input" class="form-control" type="text">
							</div>
							<div class="form-group">
								<label for="login-input-2">Username</label>
								<input id="login-input-2" class="form-control" type="text">
								<div class="invalid-feedback">Invalid username</div>
							</div>
							<div class="form-group">
								<label for="pw-input-2">Password</label>
								<input id="pw-input-2" class="form-control" type="password">
								<div class="invalid-feedback">Incorrect password</div>
							</div>
							<button class="btn btn-primary">Submit</button>
						</form>
					</div>

					<div id="rides" class="container-fluid col-lg-12 mt-5 d-none jumbotron" v-if="login">
						<div class="row">
							<div class="col-12">
								<h2 class="display-5">{{ rides_title }}</h2>
								<hr>
							</div>
							<div class="p-1 col-12 col-lg-4 col-xl-3" v-for="ride in rides">
								<div v-bind:id="'ride-'+ride.ride_id" class="card">
									<ul class="list-group list-group-flush">
										<li class="list-group-item">
											<b>ride:</b> {{ ride.ride_id }}
											<p class="mb-0">
												<span class="badge badge-warning" v-if="ride.taken">Taken</span>
												<button 
													class="receive-btn badge badge-dark"
													v-on:click="confirm_ride_taken(ride)">Take Ride</button>
											</p>
										</li>
										<li class="list-group-item"><b>Ride ID:</b> {{ ride.ride_id }}</li>
										<li class="list-group-item"><b>From:</b> {{ ride.from_location }}</li>
										<li class="list-group-item"><b>To:</b> {{ ride.to_location }}</li>
										<li class="list-group-item"><b>Make/Model:</b> ${{ ride.make_model }}</li>
										<li class="list-group-item"><b>License Plate:</b> ${{ ride.license_plate }}</li>
										<li class="list-group-item"><b>Driver ID:</b> {{ ride.driver_id }}</li>
										<li class="list-group-item"><b>Time:</b> {{ ride.departure_time }}</li>
										<li 
										class="list-group-item" 
										v-if="user_id == ride.driver_id">
											<button class="btn btn-primary" v-on:click="set_editing_ride(ride)" data-toggle="modal" data-target="#edit-ride-dialog">Edit ride</button>
											<button class="btn btn-danger" v-if="user_id == ride.driver_id" v-on:click="delete_ride(ride)">Delete</button>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div id="user-list" class="container-fluid col-lg-12 d-none jumbotron" v-if="login">
						<div class="row">
							<div class="col-12">
								<h2 class="display-5">Users</h2>
								<hr>
							</div>
							<div class="p-1 col-12 col-lg-6" v-for="user in users" v-if="user.user_id != user_id">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
										<button class="btn btn-info" v-on:click="show_rides_taken(user.user_id, `${user.first_name} ${user.last_name}`)">Rides Taken</button>
										<button class="btn btn-info" v-on:click="show_rides_offered(user.user_id, `${user.first_name} ${user.last_name}`)">Rides Offered</button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div id="ride-form" class="col-lg-12 d-none jumbotron" v-if="login">
						<h2 class="display-5">Offer ride</h2>
						<hr>
						<form action="#" v-on:submit="register_ride">
							<div class="form-group">
								<label for="from-input">From Location</label>
								<input id="price-input" class="form-control" type="text">								
							</div>
							<div class="form-group">
								<label for="to-input">To Location</label>
								<input id="to-input" class="form-control" type="text">								
							</div>
							<div class="form-group">
								<label for="make-input">Make/Model</label>
								<input id="make-input" class="form-control" type="text">								
							</div>
							<div class="form-group">
								<label for="license-input">License Plate</label>
								<input id="license-input" class="form-control" type="text">								
							</div>
							<div class="form-group">
								<label for="time-input">Ride Time</label>
								<input id="time-input" class="form-control" type="text">
							</div>
							<button class="btn btn-primary">Offer</button>
						</form>
					</div>
				</div>
			</div>

		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script src="script.js"></script>
	</body>
</html>
